main{
  display: inline;
}
.face{
  margin: 5px ;
  display: inline;
}
.face:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
section{
  background-color: rgb(255, 255, 255);
  max-width: 800px;
  margin:-280px auto ;
  border-radius: 20px;
  z-index: 0;
  border: 3px solid rgba(211, 203, 203, 0.231);
  box-shadow: 10px 10px 8px #888888;
  cursor: url(./select.png),auto;

}

section:hover{
  animation-name: example;
  animation-duration: 10s;
  transform: rotate(180deg);
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

div{
  margin: 8px 10px;
  height:  80px;
  width: 80px;
 background-color: rgba(216, 25, 143, 0.183);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  box-shadow: 10px 10px 8px rgb(79, 78, 78);
}


.gool:hover{
  transform: scale(1.5,1.5);
  
}

input{
  width: 150px;
  margin-bottom: 5px ;
  height: 50px;
  border-radius: 40px;
  color: antiquewhite;
  font-size: 24px;
  text-align: center;
  border: 3px solid antiquewhite;
  background-color:rgb(5, 69, 79);
  width: 200px;
  box-shadow: 10px 10px 8px #888888;
}
