/*
Just for demo purposs
*/

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*
1- Style the SVG circels:
*/

#page-loader{
  width: 150px;
  height: 150px;
}

#page-loader circle{
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
}
  #page-loader circle:nth-child(1){
    stroke: #025373;
    stroke-dasharray: 50;
  }
  #page-loader circle:nth-child(2){
    stroke: #4B8CA6;
    stroke-dasharray: 100;
  }
  #page-loader circle:nth-child(3){
    stroke: #82C0D9;
    stroke-dasharray: 180;
  }
  #page-loader circle:nth-child(4){
    stroke: #D3EEFF;
    stroke-dasharray: 350;
    stroke-dashoffset: -100;
  }

  /*
  2- Create the keyframe animation
  */

  @keyframes loader{
    50%{
      transform: rotate(360deg);
    }
  }

  #page-loader circle{
    animation-name: loader;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: center center;
  }

  #page-loader circle:nth-child(1){
    animation-delay: -.2s;
  }
  #page-loader circle:nth-child(2){
    animation-delay: -.4s;
  
  }
  #page-loader circle:nth-child(3){
    animation-delay: -.6s;

  }
  #page-loader circle:nth-child(4){
    animation-delay: -.2s;
  }